<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/output.css">
</head>
<body>
    <div class="flex flex-row gap-10 justify-center items-center mt-4 p-2 font-Popins">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <div class="flex flex-col gap-2">
            <div class="text-2xl text-gray-800 ">Oops...</div>
            <div class="text-lg">Unfortunately the page you are looking for isn't available or doesn't exist.<br> Please return to our 
                <a href="/"><span class="text-blue-500 underline">homepage</span></a> and try again</div>
        </div>
        
    </div>
</body>
</html>